
cvlib/calibration/build/

cvlib/calibration/TODO

cvlib/calibration/Makefile

*.project

cvlib/build/

drone/\.idea/

videoDownlink/build/

videoDownlink/\.CMakeLists\.txt\.swp

*.pyc

cvlib/test/trained_classifierNM1\.xml

cvlib/test/trained_classifierNM2\.xml
